@model AMS.User

@{
    ViewBag.Title = "Add New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <div class="sidemenu_head" style="font-size:20px;font-weight:bold;">Add new user</div>
      
@using (Html.BeginForm("AddUser", "User"))
{
 
    @Html.ValidationSummary(true)

    <fieldset>
    <br />
<div class="form-group" >
             <label>Username:</label>  
        <div>
             <input id="txtUserName" name="UserName" type="text" />
             </div>
 
         <label>Password : </label>
          <div>
            <input id="txtPassword" name="Password" type="password" />
        </div>
            
        <div >
            @Html.LabelFor(model => model.UserFirstName)
        </div>
        <div >
            @Html.EditorFor(model => model.UserFirstName, new { @class = "form-control", style = "width: 30%;" })
            @Html.ValidationMessageFor(model => model.UserFirstName)
         </div>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.UserLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserLastName)
            @Html.ValidationMessageFor(model => model.UserLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserTitle)
            @Html.ValidationMessageFor(model => model.UserTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserEmail)
            @Html.ValidationMessageFor(model => model.UserEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserDescription)
            @Html.ValidationMessageFor(model => model.UserDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserPhone)
            @Html.ValidationMessageFor(model => model.UserPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserStatus)
            <div class="bg-warning" >@Html.ValidationMessageFor(model => model.UserStatus)</div>
        </div>
<br />
        <p>
            <input class="btn btn-primary btn-xs"  type="submit" value="Create" />
        </p>
        </div>
    </fieldset>

    @section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
<div>
    @Html.ActionLink("Back to Users List","Index","User")
</div>
    
}