@model IEnumerable<AMS.User>

@{
  
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddUser", "User"))
{
<div class="sidemenu_head" style="font-size:20px;font-weight:bold;">Users

</div>
    @Html.ActionLink("Create New", "AddUser")
    <div><a href="@Url.Action("ExportUsersList")">Export to PDF</a></div>
<div class="sidemenu" >
<p>@ViewBag.message</p>
<table>
    <tr>
        <th>
            User
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserStatus)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserTitle)    @Html.DisplayFor(modelItem => item.UserFirstName) @Html.DisplayFor(modelItem => item.UserLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
        </td>
    </tr>
}
</table>
</div>
}