@model AMS.Customer

@{
    ViewBag.Title = "Index";    
}


@using (Html.BeginForm("Index", "Customer"))
{
    <div class="sidemenu_head" style="font-size:20px;font-weight:bold;">Customer Registration</div>
    <div class="sidemenu">
    
    @Html.ValidationSummary(true)

    <fieldset>
   
    @Html.AntiForgeryToken()

        @if (ViewBag.Message != null)
        {
            <div style="border:solid 2px green">
                @ViewBag.Message
            
            
            </div>
        }
    <div class="editor-label">
            UserName : 
        </div>
        <div class="editor-field">
        <input id="txtUserName" name="UserName" type="text" />
        </div>

        <div class="editor-label">
            Password : 
        </div>
        <div class="editor-field">
            <input id="txtPassword" name="Password" type="password" />
        </div>
        <div class="editor-label">
            ReTypePassword : 
        </div>
        <div class="editor-field">
            <input id="txtrePassword" name="ReTypePassword" type="password" />
        </div>
        <div class="editor-label">
        @* First Name:*@
                @Html.LabelFor(model => model.CustFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustFirstName)
            @Html.ValidationMessageFor(model => model.CustFirstName)
        </div>

        <div class="editor-label">
        @*Last Name:*@
            @Html.LabelFor(model => model.CustLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustLastName)
            @Html.ValidationMessageFor(model => model.CustLastName)
        </div>

        <div class="editor-label">
       @* Email:*@
            @Html.LabelFor(model => model.CustEmail)
        </div>
        <div class="editor-field">
        
            @Html.EditorFor(model => model.CustEmail)
            @Html.ValidationMessageFor(model => model.CustEmail)
        </div>

        <div class="editor-label">
        @*Description:*@
            @Html.LabelFor(model => model.CustDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustDescription)
            @Html.ValidationMessageFor(model => model.CustDescription)
        </div>

        <div class="editor-label">
        @*Phone Number:*@
            @Html.LabelFor(model => model.CustPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustPhone)
            @Html.ValidationMessageFor(model => model.CustPhone)
        </div>
 
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

     @section Scripts
 {
    @Scripts.Render("~/bundles/jqueryval")
}

<div>
    @Html.ActionLink("Back to Login", "Login", "Account")
</div>
</div>
}